@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  /* font-family: Helvetica, sans-serif; */
}

@layer utilities {
  .text-13 {
    font-size: 13px;
  }

  .-mb-05 {
    margin-bottom: -0.125rem;
  }

  .grid-cols-4-auto {
    grid-template-columns: repeat(4, auto);
  }

  .grid-cols-5-auto {
    grid-template-columns: repeat(5, auto);
  }

  .scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: transparent;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #ffffff0b;
    border-radius: 100vh;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #ffffff20;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }

  .max-container-width {
    @media (min-width: 640px) {
      max-width: calc(100vw - 4rem);
    }

    max-width: calc(100vw - 2rem);
  }
}